*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    width:100%;
    height:80px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 80px;

    background:rgba(17,24,39,.9);
    backdrop-filter:blur(12px);

    position:fixed;
    top:0;
    left:0;
    z-index:1000;

    transition:all .3s ease;
}

.logo{
    color:white;
    font-size:32px;
    font-weight:700;
    cursor:pointer;
    transition:.3s;
}

.logo span{
    color:#22c55e;
}

.logo:hover{
    transform:scale(1.05);
}

.nav-links{
    display:flex;
    align-items:center;
    list-style:none;
    gap:40px;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    position:relative;
    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#22c55e;
}

.nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0;
    height:2px;
    background:#22c55e;
    transition:.3s;
}

.nav-links a:hover::after{
    width:100%;
}

.menu-icon{
    display:none;
    font-size:30px;
    color:white;
    cursor:pointer;
}

/* ===========================
   Mobile Responsive
=========================== */

@media (max-width:768px){

    .navbar{
        padding:0 20px;
    }

    .menu-icon{
        display:block;
    }

    .nav-links{
        position:absolute;
        top:80px;
        left:0;

        width:100%;

        background:#111827;

        display:none;
        flex-direction:column;
        align-items:center;
        gap:25px;

        padding:25px 0;
    }

    .nav-links.active{
        display:flex;
    }

}